


#resume{

    width: 500px;
    height: 570px;
    color:aliceblue;
    animation: aparition-an 1.5s;
    
}



#resume p{
    margin: 10px;
    font-size: 40px;
    position: absolute;
    left: 5%;
}


#social{
    width: 100%;
    position: absolute;
    float: left;
    bottom:-5%;
    left: 7%;
}
/*
left: 50%;
    transform: translateX(-50%);
    */


.logo{
    width: 20px;
    filter:opacity(60%);
}

.logo-2{
    width: 30px;
    filter:opacity(60%);
}


.logo-1{
    position: absolute;
    right: -10%;
    top: 110%;
    width: 100%;
    filter:opacity(60%);
    
}

#link-img{
    cursor: pointer;
}



#links-container{
    animation: aparition-an 1s;
    width: 170px;
    height: 70px;
    backdrop-filter: blur(2px) brightness(105%);
    
}

